.idea
.vscode
**/node_modules
**/target/
**/debug/
**/*.rs.bk
*.pdb
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.patch
*.diff
*.gho
*.ori
*.orig
*.bak
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.fuse_hidden*
.directory
.Trash-*
.nfs*
out
gen
!app/src-tauri/gen/
**/dist/
*.7z
*.jar
*.rar
*.zip
*.gz
*.gzip
*.tgz
*.bzip
*.bzip2
*.bz2
*.xz
*.lzma
*.xar
*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.txz
.DS_Store
.AppleDouble
.LSOverride
.env